.kasa-banner{
    width: 80vw;
    height: 200px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
    border-radius: 20px;

}

.kasa-banner img{
    object-fit: cover;
    position: absolute;
    height: 100%;
    background: 0 100px;
    z-index: 1;
    top:0;
}

.kasa-banner img h1{
    color:white;
    position: absolute;
    z-index: 99;
}