.appartment-item {
	margin: 20px;
    position: relative;
    height: 320px;
	width: 320px;
	
}

.appartment-cover {
	height: 340px;
	width: 340px;
	border-radius: 20px;
    
    
}

.appartment-title{
    position:absolute;
    bottom: 25px;
    left:25px;
    color:white;
    white-space: wrap;
    z-index: 4;
}

.shadow-box{
    border-radius: 20px;
    position: absolute;
    width: 340px;
    height: 340px;
    z-index: 3;
    background: linear-gradient(to bottom, #fff, black);
    opacity: 0.3;
}

@media all and (min-width: 300px) and (max-width: 450px){
    .appartment-item {
        margin: 20px;
        position: relative;
        height: 320px;
        width: 320px;
        
    }
}
